html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  background: url('../img/fundo.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.background-overlay {
  background: rgba(0, 0, 0, 0.400);
  flex: 1; /* Ocupa o espaço restante da tela */
  padding-bottom: 30px; /* Espaço antes do footer */
}

.navbar {
  background-color: #1d3e3db8;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.navbar li {
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
}

.navbar li:hover,
.navbar .active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

header {
  text-align: center;
  padding: 30px 20px 10px;
}

header h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.4;
}

.textoPrincipal {
  background-color: #1d3e3d;
  color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px 5px 0 0;
}

.textoSecundario {
  padding: 0 1rem;
  margin: 10px 0;
}

.respiroParagrafos {
  padding: 15px;
  margin: 0;
  line-height: 1.6;
}

.respiroParagrafosSecundarios {
  padding: 5px 15px;
  margin: 0;
  line-height: 1.6;
}

.tab {
  display: none;
  animation: fadeIn 0.5s ease-in-out;
}

.active-tab {
  display: block;
}

.content-box {
  background-color: white;
  color: #111;
  margin: 20px auto;
  max-width: 1000px;
  border-radius: 10px;
}

.row {
  display: flex;
  align-items: center;
}

.site-footer {
  background-color: #1d3e3db8;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

a,
a:visited {
  color: #4FC3F7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-footer a,
.site-footer a:visited {
  color: #4FC3F7;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

.site-footer p {
  margin: 5px 0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* RESPONSIVIDADE PARA TELAS PEQUENAS */
@media (max-width: 768px) {
  .navbar {
    justify-content: flex-start; /* Hambúrguer à esquerda */
  }

  .navbar li {
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
  }

  .navbar li:hover,
  .navbar .active {
    color: #fff;
    border-bottom: 2px solid #fff;
  }

  .menu-toggle {
    display: block;
  }

  /* Esconde o menu tradicional no mobile */
  .navbar ul {
    display: none;
    flex-direction: column;
    background-color: #1d3e3db8;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }

  /* Mostra o menu quando a classe .show estiver presente */
  .navbar ul.show {
    display: flex;
  }
}
